.training-date-header {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid black;
    font-weight: 900;
}

.training-date {
    padding: 20px;
}
tr.training-date-row:nth-child(even) {
    background-color: #F1F1F1;
}
tr.training-date-row:nth-child(odd) {
    background-color: #E1E1E1;
}
.training-desc {
    padding: 8px;
}

.training-title {
    font-weight: 900;
    color: #b21d2e;
    font-size: 1.2em;
}
.training-subtitle {
    font-style: italic;
}
.training-note {
    color: #b21d2e;
    font-style: italic; 
    text-align: center;   
}
.training-trainer {
    font-weight: 900;
    color: #b21d2e;
    font-size: 1em;
}
.training-location {
    font-size: 0.8em;
    font-style: italic;
    color: #b21d2e;
}
.staff-will-notify {
    font-weight: normal;
    font-style: italic;
}
.notavailable {
    color: red;
}

.available {
    color: green;
}
.cns-error {
    font-weight: bold;
    font-style: italic;
    color: red;
    text-align: center;
}
.fee-table {
    border-spacing: 10px;
    border-collapse: separate;
    width: 100%;
}
.signup-table {
    width: 70%;
    border-collapse: separate;
    border-spacing: 20px;
    margin: 4em;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,.22);
    background-color: #fff;
    min-height: 200px;
}
.small-note {
    font-weight: normal;
    font-style: italic;
    font-size: 0.8em;
}
.form-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}
#class-list-link {
    width: 100%;
    text-align: right;
    font-style: italic;
}


