.training-date-header {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid black;
    font-weight: 900;
}

.training-date {
    padding: 20px;
}
tr.training-date-row:nth-child(even) {
    background-color: #F1F1F1;
}
tr.training-date-row:nth-child(odd) {
    background-color: #E1E1E1;
}
.training-desc {
    padding: 8px;
}

.training-title {
    font-weight: 900;
    color: #b21d2e;
    font-size: 1.2em;
}
.training-trainer {
    font-weight: 900;
    color: #b21d2e;
    font-size: 1em;
}
.training-location {
    font-size: 0.8em;
    font-style: italic;
    color: #b21d2e;
}
.staff-will-notify {
    font-weight: normal;
    font-style: italic;
}
.notavailable {
    color: red;
}

.available {
    color: green;
}
